// import
@import './variables';

// width
@mixin publicWidth {
    width: $publicWidth;
    margin: 0 auto;
}

// font
@font-face {
    font-family: "ganpan";
    font-weight: normal;
    src: url("../font/KCC-Ganpan.otf") format("truetype");
}
@font-face {
    font-family: "suiteLight";
    font-weight: normal;
    src: url("../font/SUITE-Light.otf") format("truetype");
}
@font-face {
    font-family: "suiteRegular";
    font-weight: normal;
    src: url("../font/SUITE-Regular.otf") format("truetype");
}
@font-face {
    font-family: "suiteSemi";
    font-weight: normal;
    src: url("../font/SUITE-SemiBold.otf") format("truetype");
}
@font-face {
    font-family: "suiteBold";
    font-weight: normal;
    src: url("../font/SUITE-Bold.otf") format("truetype");
}

// button
.btn{
    font-size: $regular;
    cursor: pointer;
    width: 100%;
    background-color: $pink;
    border-radius: 5px;
    padding: 12px 0;
    text-align: center;
}

// twoButton
.TwoBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    .btn1,
    .btn2 {
        cursor: pointer;
        width: 48%;
        height: 42px;
        text-align: center;
        font-size: $regular;
        padding: 12px 0;
        box-sizing: border-box;
        border-radius: 6px;

        border: none;
        background: none;
        outline: none;
        font-family: inherit;
        appearance: none;
    }

    .btn1 {
        border: 0.6px solid $grayColor;
        background-color: $whiteColor;
        color: $blackColor;
    }

    .btn2 {
        background-color: $pink;
        color: $blackColor;
    }
}


//tagbtn
.tagbtn{
    display: inline-block;
    background-color: $whiteColor;
    padding: 7px 11px;
    border-radius: 85px;
    margin-right: 10px;
}

//menu title
.title_container{
    @include publicWidth ;

    .title_up{
        display: flex;
        align-items: center;
        margin-top: 20px;
        >h2{
            font-family: $ganpan;
            font-size: $title;
            font-weight: normal;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            }
        button{
            cursor: pointer;
            .title_prev{
                width: 9px;
            img{ width: 100%; }
            }
        }
    }
    .title_dashedline{
        margin: 15px 0 40px;
    }
}

//total
.total_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: $regular;

    p:nth-of-type(2n) {
        text-align: right;
    }
    p:nth-of-type(3), p:nth-of-type(4) {
        margin: 10px 0 20px;
    }
    p:nth-of-type(5), p:nth-of-type(6) {
        margin-top: 20px;
    }
    .total_title::after{
        content: ' : ';
    }
    p:nth-of-type(4)::before{
        content: ' + ';
    }
    p:nth-of-type(6)::before {
        content: ' = ';
    }
    .total_line{ grid-column: span 2; }
    .price_bold{ font-family: $suiteBold;}
}

// font_style

@mixin ganpan_font_style_1 {
    font-family: $ganpan;
    font-size: 20px;
    color: $blackColor;
    font-weight: normal;
}
@mixin ganpan_font_style_2 {
    font-family: $ganpan;
    font-size: 18px;
    color: $grayColor;
    font-weight: normal;
}
@mixin ganpan_font_style_3 {
    font-family: $ganpan;
    font-size: 23px;
    color: $whiteColor;
    font-weight: normal;
}

@mixin suite_black_20 {
    font-family: $suiteRegular;
    font-size: 20px;
    color: $blackColor;
}
@mixin suite_black_18 {
    font-family: $suiteRegular;
    font-size: 18px;
    color: $blackColor;
}
@mixin suite_black_16 {
    font-family: $suiteRegular;
    font-size: 16px;
    color: $blackColor;
}
@mixin suite_black_14 {
    font-family: $suiteRegular;
    font-size: 14px;
    color: $blackColor;
}
@mixin suite_black_12 {
    font-family: $suiteLight;
    font-size: 12px;
    color: $blackColor;
    line-height: 140%;
}


// gray style

@mixin suite_gray_14 {
    font-family: $suiteRegular;
    font-size: 14px;
    color: $grayColor;
}

// Light style

@mixin suite_light_14 {
    font-family: $suiteLight;
    font-size: 14px;
    color: $blackColor;
}


//icon
.icon{
    display: flex;
    align-items: center;
}