// ======================
// ========width=========
// ======================

$publicWidth: calc(100% - 60px);

// ======================
// ========color=========
// ======================

// * basic color
$blackColor: #333333;
$whiteColor: #FFFFFF;
$grayColor: #7A7A7A;
$lineColor: #C3C3C3;

// * point color 
$pink: #F5A2D8;
$lightPink: #fcd6ef;
$beigePink: #FFEBF8;

// * character color
$kitty: #E95F64;
$lightKitty: #FBE7E8;

$melody: #EE75A3;
$lightMelody: #ffe6f8;

$cinna: #23AEDF;
$lightCinna: #e1f1ff;

$pompom: #F6AA37;
$lightPompom: #fff8d7;

// ======================
// =========font=========
// ======================

$ganpan : "ganpan";
$suiteLight : "suiteLight";
$suiteRegular : "suiteRegular";
$suiteSemi : "suiteSemi";
$suiteBold : "suiteBold";

// ======================
// ======font size=======
// ======================

$bigTitle: 26px;
$title: 20px;
$subTitle: 18px;
$regular: 16px;
$small: 14px;
$footer: 12px;

// ======================
// ========radius========
// ======================

$radius1: 5px;
$radius2: 25px;

// ======================
// =====line-height======
// ======================

$lineHeight1: 120%;
$lineHeight2: 140%;

