// import
@import './variables';
@import './mixins';

.list_loading{
    margin: 76.2% 0;
    .css-pl8gqh-MuiStack-root{justify-content: center;}
}
.list_sanrio{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    >p{margin: 0 8px;}
}
.sanrio_img{margin: 20px 0;}
.catgory_container{
    .list_catgory{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        .catgory{
            margin: 0 8px;
        }
    }
    .catgory_banner{margin-bottom: 20px;}
}

.item_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;

    .list_item{
        margin-bottom: 35px;
    }
    .list_img{
        position: relative;
        >p{
            width: 195px; height: 195px;
            img{width: 100%; height: 100%;}
        }
        .card_wish{
            cursor: pointer;
            width: 20px;
            position: absolute;
            bottom: 10px; right: 10px;
            img{width: 100%;}
        }
    }
    .list_content{
        @include publicWidth ;
        text-align: center;
        b{
            font-weight: normal;
            display: block;
            margin: 20px 0 14px;
        }
    }
}

.more_container{
    cursor: pointer;
    text-align: center;
    margin-bottom: 120px;
    .more{
        background-color: $lightPink !important;
    }
}
