// import
@import './variables';
@import './mixins';

// MyPage.jsx
.mypage_container{
    @include publicWidth ;
    margin-bottom: 100px;
    .mypage_hello{
        display: flex;
        justify-content: space-between;
        align-items: end;
        >h2, p{font-weight: normal;}
        >h2>b{color: #fa6ee3; font-family: $suiteSemi;}
    }
    .css-cfd5wn-MuiListItem-root{
        justify-content: space-between;
        .memberbox_li{
            color: $grayColor;
        }
    }
    .memberbox_li::after{
        content: ' : ';
    }
    .mypage_onclick{
        margin-bottom: 10px;
        transition: all .2s ease;
        
        &:hover {
            filter: brightness(97%);
        }
    }
    .mypage_wishlist{
        height: 47.2px;
        .mypagewish_icon{
            font-family: $suiteRegular;
            display: block;
        }
        .mypage_btn{
            font-family: $suiteRegular;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        border: 1px solid $lineColor;
        background-color: $whiteColor;
    }
    .mypage_logout{
        width: 330px;
        position: fixed;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
}

// WishPage.jsx
.wish_haert{
    text-align: center;
    padding-top: 235px;
    color: $grayColor;
    >p{margin-top: 15px;}
    >div{justify-content: center;}
}
.wish_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    .wish_item{
        margin-bottom: 35px;
    }
    .wish_img{
        position: relative;
        >p>img{width: 195px; height: 195px;}
        .wish_cancel{
            position: absolute;
            top: 10px; right: 10px;
        }
    }
    .wish_content{
        @include publicWidth ;
        margin: 0 auto;
        text-align: center;
        >b{ 
            font-weight: normal;
            display: block;
            margin: 20px 0 14px;
        }
    }
}

.recent_container{
    margin: 20px auto 30px;
    >h3{
        font-family: $suiteSemi;
        margin: 20px auto !important;
    }
    >h3::after{
        content: ' 👀 ';
    }
    .swiper{
        z-index: 0;
        .swiper-slide{
            width:100px !important;
        }
    }
    .keyWord_item{
        width: 100%;
        .keyWord_item_img{
            position: relative;
            >p>img{ width: 100px; height: 100px;}
            .card_wish{
                position: absolute;
                bottom: 5px; right: 5px;
            }
        }
        .keyWord_content{
            >b{
                font-size: $footer;
                display: block;
                margin: 10px 0 5px;
                font-weight: normal;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            >p{
                font-size: $small;
                font-family: $suiteSemi;
            }
        }
    }
}
