// import
@import './variables';
@import './mixins';

// MyPage.jsx
.mypage_container{
    @include publicWidth ;
    .mypage_hello{
        display: flex;
        justify-content: space-between;
        align-items: end;
        >h2, p{font-weight: normal;}
    }
    .css-cfd5wn-MuiListItem-root{
        justify-content: space-between;
        .memberbox_li{
            color: $grayColor;
        }
    }
    .memberbox_li::after{
        content: ' : ';
    }
    .mypage_onclick{margin-bottom: 10px;}
    .mypage_wishlist{
        height: 47.2px;
        .mypagewish_icon{
            font-family: $suiteRegular;
            display: block;
        }
        .mypage_btn{
            font-family: $suiteRegular;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        border: 1px solid $lineColor;
        background-color: $whiteColor;
    }
    .mypage_logout{
        display: block;
        margin: 100% 0 70px;
        width: 330px;
    }
}

// WishPage.jsx
.wish_haert{
    text-align: center;
    padding-top: 235px;
    color: $grayColor;
    >p{margin-top: 15px;}
    >div{justify-content: center;}
}
.wish_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    .wish_item{
        margin-bottom: 35px;
    }
    .wish_img{
        position: relative;
        >p>img{width: 195px; height: 195px;}
        .wish_cancel{
            position: absolute;
            top: 10px; right: 10px;
        }
    }
    .wish_content{
        @include publicWidth ;
        margin: 0 auto;
        text-align: center;
        >b{ 
            font-weight: normal;
            display: block;
            margin: 20px 0 14px;
        }
    }
}
