// import
@import './variables';
@import './mixins';

// OrderPage.jsx
.order_container{
    @include publicWidth ;
    .order_itmeBox{
        margin-bottom: 15px;
    }
    .order_box{
        border: 1px solid $lineColor;
        border-radius: 8px;
        background-color: #FFF2FA;
        padding: 10px;
        display: flex;
        gap: 10px;
        transition: all .2s ease;

        >p>img{width: 90px; height: 90px;}

        .order_item{
            width: 100%;
            position: relative;
            h3, p, button{margin-bottom: 3px}

            >h3{
                font-size: $small;
                font-weight: normal;
            }
            >p{
                font-family: $suiteBold;
            }
            >button::after{
                content: ' > ';
                padding-left: 5px;
                font-size: $footer;
            }
            .order_delete{
                position: absolute;
                top: 0; right: 0;
                >img{width: 10px; height: 10px;}
            }
            .order_date{
                color: $grayColor;
                font-size: $footer;
                margin-bottom: 10px;
            }
            .order_flex{
                display: flex;
                justify-content: space-between;
            }

            button {
                cursor: pointer;
            }
        }
    }
}

// OrderDetail.jsx
.detail_container_bg{
    width: 100%;
    background-color: #eee;
    >*{margin: 10px 0;}
    .detail_state_bg {
        margin: 0 0 10px;
        padding: 0 0 20px;
        background-color: $whiteColor;
    }
    h2{
        font-size: 16px;
        font-family: "suiteBold";
        margin-bottom: 15px;
    }
    .bg{
        background-color: $whiteColor;
        padding: 20px 0;


    }
    .detail_state{
        @include publicWidth ; 
        >p:nth-of-type(1){margin-bottom: 7px} 
    }
    .detail_product{
        @include publicWidth ;
        h2{
            font-size: $regular;
            font-family: $suiteBold;
            margin-bottom: 15px;
        }
        .payment_product{
            >div{
                display: flex;
                gap: 30px;
            }
            .payment_img>img{ width: 100px; height: 100px;}
            .item_content>p{margin-bottom: 10px;}
            .quantity{
                background-color: $lightPink;
            }
        }
    }
    .detail_address{
        @include publicWidth ;
        .detail_name{
            font-size: $subTitle;
            font-family: $suiteSemi;
        }
        li{margin: 7px 0}
        li:last-of-type{
            color: $grayColor;
            margin-top: 10px
        }

    }
    .detail_method{
        @include publicWidth ; 
        .price_bold{
            font-family: $suiteRegular;
        }
        .total_grid p:nth-of-type(6)::before {
            content: "";
        }
        .order_method{
            font-size: $small;
            margin-right: 5px;
        }
        .total_price{
            color: #f339b2;
            font-family: $suiteBold;
            font-size: $subTitle;
        }
        .detail_payment_method{
            text-align: right;
            margin-top: 5px;
        }
    }
}

.orderlist_comeon{
    margin-top: 55%;
    text-align: center;
    >img{
        width: 100px; height: 100px;
        margin-bottom: 10px;
    }
    >p{
        font-family: $suiteRegular; 
        font-size: $small; 
        color: $grayColor;
    }
}

.payment_product {
    margin-bottom: 10px;
}