// import
@import './variables';
@import './mixins';

.payment_container_bg{
    width: 100%;
    background-color: #e2e2e2;
    
    label{
        display: flex;
        align-items: center;
        gap: 8px;
        input[type="radio"] {
            appearance: auto; /* 기본 appearance 유지 */
            accent-color: $blackColor;
        }
        input[type="checkbox"] {
            accent-color: $whiteColor;
        }
    }

    h2{
        font-size: $regular;
        font-family: $suiteBold;
        margin-bottom: 15px;
    }
    .bg{
        background-color: $whiteColor;
        padding: 20px 0;
    }
    .include{
        @include publicWidth ;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        margin-bottom: 15px;
    }
    .payment_container{
        >*{margin: 10px 0;}
        .payment_product{
            margin-bottom: 10px;
            >div{
                display: flex;
                gap: 30px;
            }
            .payment_img>img{ width: 100px; height: 100px;}
            .item_content>p{margin-bottom: 10px;}
            .quantity{
                background-color: $lightPink;
            }
        }
        .payment_address_container{
            .payment_address{
                > * {margin: 7px 0;}
                h2{
                    margin: 0 0 15px; 
                    font-family: $suiteRegular; 
                    font-size: $small; 
                    font-weight: normal;
                }
                .find{
                    >div{cursor: pointer;}
                    display: flex;
                    justify-content: space-between;
                    .findBtn{
                        width: 129px; height: 36.13px;
                        padding: 8px 0;
                        background-color: $whiteColor;
                        border: 1px solid $lineColor;
                    }
                }
                .delivery_memo{
                    h2{margin: 20px 0 15px;}
                    .memo_inputbox{
                        position: relative;
                        margin-bottom: 8px;
                        .memoBtn{
                            position: absolute;
                            top: 50%; right: 14px;
                            transform: translateY(-50%);
                        }
                    }
                    .product_popup_bg{
                        width: 390px;
                        position: fixed;
                        bottom: 0px; left: 50%;
                        transform: translateX(-50%);
                        border-radius: 20px 20px 0 0;
                        border-top: 0.6px solid $blackColor;
                        background-color: $whiteColor;
                        z-index: 99;
                        .bottomArrow_close
                        >img{
                            display: block;
                            margin: 20px auto;
                        }
                        .memoSelect{
                            >h2{
                                text-align: center;
                                font-weight: normal;
                                font-size: $small;
                                margin: 20px 0 30px;
                            }
                            .inputbox{
                                @include publicWidth ;
                                >* {
                                    cursor: pointer;
                                    display: block;
                                    padding: 10px 0;
                                    border-bottom: 1px solid $lineColor;
                                }
                                li:last-of-type{
                                    border: none;
                                    margin-bottom: 70px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .payment_order{
            .total_line{width: calc(100% - 0px) !important;}
        }
        .payment_method{
            h2{
                font-family: $suiteRegular; 
                font-size: $small; 
                font-weight: normal;
            }
            .bankbook{
                >*{margin: 8px 0;}
                >p{
                    font-size: $footer;
                    color: $grayColor;
                }
            }
            .payment_dachedLine{margin: 15px 0;}
            .cashReceipt{
                >label{margin-bottom: 20px;}
                .bold_label{font-family: $suiteSemi;}
            }
        }
        .payment_agree_container{
            .payment_agree{
                >*{margin: 10px 0;}
                label:last-of-type{margin-bottom: 100px;}
            }
        }
    }
    .paymentBtn{
        width: 390px;
        height: 70px;
        position: fixed;
        bottom: 0px; left: 50%;
        transform: translateX(-50%);
        background-color: $whiteColor;
        >button{ display: block; width: 330px; margin: 0 auto;}
    }
}

.pay_title {
    margin-left: 30px;
}

.cart_items_group {
    margin-bottom: 10px;
}

.cart_total_content {
    background-color: $whiteColor;
    padding: 20px 0;
    width: 100%;

    .total_price,
    .total_deliver,
    .total_amount {
        @include publicWidth;
        @include suite_black_16;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .total_amount {
        @include suite_bold_18;
        border-top: 1px solid #ddd;
        padding: 10px 0 80px;
        p {
            color: $blackColor;

            &:nth-child(2) {
                color: #F339B2;
            }
        }

        
    }

    .pay_button {
        @include suite_black_16;
        position: fixed;
        width: 330px;
        left: 50%;
        bottom: 40px;
        transform: translate(-50%);

        display: flex;
        justify-content: center;
        align-items: center;
    }
}