// import
@import './variables';
@import './mixins';

.product_container{
    .product_detail{
        margin-bottom: 86px;
        .product_item{
            margin-bottom: 35px;
        }
        .product_img{
            >p{
                display: block;
                width: 100%; height: 390px;
                img{width: 100%; height: 100%;}
            }
        }
        .product_content{
            @include publicWidth;
            margin-top: 30px;
            p{margin: 15px 0 10px;}
            b, p{
                font-size: $title;
                font-weight: normal;
                display: block;
            }
            .delivery_fee{
                color: $grayColor;
            }
            .delivery_fee>span:nth-of-type(1)::after{
                content: ' | ';
            }
        }
        .product_line{ margin: 30px auto !important; }
        .product_line, >h3{
            @include publicWidth;
        }
            
        >h3{
            font-family: $suiteBold;
            margin: 20px auto !important;
        }
        * {
            max-width: 100% !important;
            box-sizing: border-box;
        }
    }
    
    .product_buynow{
        width: 390px;
        position: fixed;
        bottom: 0px; left: 50%;
        transform: translateX(-50%);
        .Product_absolute{
            position: relative;
            background-color: $beigePink;
            padding: 27px 0 39px;
            .product_wish{
                position: absolute;
                top: 43%; left: 30px;
                transform: translateY(-50%);
                img{width: 20px;}
            }
            >p{
                font-size: $regular;
                text-align: center;
            }
        }
    }

    .product_popup_bg{
        width: 390px;
        position: fixed;
        bottom: 0px; left: 50%;
        border-radius: 20px 20px 0 0;
        background-color: $beigePink;
        .bottomArrow_close
        >img{
            display: block;
            margin: 0 auto;
            padding: 20px 0 40px;
        }
        .product_popup{
            @include publicWidth ;
            .buy_name{font-size: $title;}
            .product_quantity{
                margin: 20px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                >p{
                    font-size: $regular;
                }
            }
            .popup_line{ margin: 20px 0; }
            .product_price{
                margin: 20px 0;
                font-size: $regular;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 15px;
                >p:nth-of-type(1){
                    font-size: $regular;
                }
                >p:nth-of-type(2){
                    font-size: $title;
                }
            }
            .product_btn{padding-bottom: 70px;}
        }
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 390px;
        height: 100vh;
        background: rgba(0, 0, 0, 0.4);
        z-index: 9;
    }
    .css-zemlrd-MuiButtonBase-root-MuiIconButton-root {
        border: 1.5px solid $blackColor;
    }
    .css-pujkp6-MuiTypography-root {
        font-size: 20px;
    }
    .css-1mz6ms4{
        gap: 5px;
    }
    // -,+ 버튼 크기 (동그라미)
    .MuiButtonBase-root{
        width: 22px;
        height: 22px;
    }

    // -,+ 버튼 크기 (선)
    .MuiSvgIcon-root {
        width: 16.5px;
        height: 16.5px;
    }
}

