// import
@import './variables';
@import './mixins';


body {
    background-color: white;
    font-family: $suiteRegular;
    font-size: 14px;
    color: $blackColor;
    -ms-overflow-style: none; /* IE 10+ */
    -webkit-tap-highlight-color: transparent;
    margin: 0 auto;

}

.all_container {
    overflow-y: auto;
    position: relative;
    padding-top: 60px;
    width: 390px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: $whiteColor;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


    .container {
        width: calc(100% - 60px);
        margin: 0 auto;
    }
}


// reset
*{box-sizing: border-box; padding:0; margin: 0; word-break: keep-all;} 
body::-webkit-scrollbar {display: none; /* Chrome, Safari, Opera */}
h1,h2,h3,h4,h5,p,figure{margin: 0; padding: 0;}
ol,ul,li{list-style: none; margin: 0; padding:0;}
button{
    border: 0; margin: 0; padding: 0; background-color: transparent; 
    color: $blackColor;
}
img{border: 0; vertical-align: middle; object-fit: cover;}
a{text-decoration: none; color: $blackColor;}
input, textarea{
    border:0;
    color: $blackColor;
}
::before,::after{margin:0; padding: 0; box-sizing: border-box;}




// --------------------------
// --------------------------
// --------component---------
// --------------------------
// --------------------------


// component_Header.jsx


.header_container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    width: calc(100% - 60px);
    max-width: 390px;
    z-index: 999;
    background-color: $whiteColor;
    padding: 0 30px;
    box-sizing: border-box;

    .header_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 9px 0;
        .logo {
            cursor: pointer;
            img {
                width: 110px;
                height: 42px;
            }
        }
        .menu_icons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .cart_icon,
            .menu_icon,
            .cancel_icon {
                cursor: pointer;
                width: 28px;
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

    }
    
}

.accordion_menu {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: $whiteColor;
    z-index: 999;
    animation: slideDown 0.3s ease;
    border-bottom: .6px solid $lineColor;
}


.category {
    margin: 0 auto;
    padding: 12px 0;
    border-bottom: .6px solid $lineColor;
    cursor: pointer;

    .title_row {
        @include publicWidth;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 6px 0;
    }

    h3 {
        @include ganpan_font_style_1;
        width: 92px;
        font-size: 20px;
        margin: 0;
    }

    .eng_title {
        @include ganpan_font_style_2;
        font-size: 18px;
        margin-left: 25px;
        padding: 0;
        line-height: 1;
        display: flex;
        align-items: center;
        padding: 0;
        line-height: 1;
        gap: 6px;
    }

    
    .note_icon {
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }

}

.category.kitty.active {
    background-color: $lightKitty;
}

.category.mymel.active {
    background-color: $lightMelody;
}

.category.pompom.active {
    background-color: $lightPompom;
}

.category.cinna.active {
    background-color: $lightCinna;
}


.subcategory {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 14px;

    span {
        background: $whiteColor;
        border: 1px solid $lineColor;
        border-radius: 16px;
        padding: 4px 10px;
    }
}


.bottom_menu {
    @include publicWidth;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    .left {
        cursor: pointer;
        @include suite_black_14;
    }
    .right {
        display: flex;
        gap: 15px;

        .mypage_icon,
        .search_icon {
            cursor: pointer;
        }
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        opacity: 1;
        max-height: 500px;
    }
}

.subcategory_block {
    @include publicWidth;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subcategory_row {
    display: flex;
    align-items: center;
    gap: 12px;
}

.sub_middle {
    font-family: $ganpan;
    width: 70px;
    font-size: 15px;
    color: #444;
}

.sub_items {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    span {
        font-family: $ganpan;
        padding: 4px 10px;
        border-radius: 12px;
        background-color: $whiteColor;
        font-size: 15px;
        color: #5b5b5b;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.alert_box {
    background: $whiteColor;
    padding: 24px 32px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


// component_Footer.jsx

.footer_container {
    margin: 120px 0 30px;

    .footer_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.footer_snsIcon {
    cursor: pointer;
    display: flex;
    gap: 11px;
}

.footer_text_title {
    margin: 22px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .footer_solid {
        width: 115px;
    }

    p {
        @include suite_black_12;
        text-align: center;
        margin-bottom: 12px;
        white-space: pre-line;
    }
}

// component cart

.cart {
    img {
        filter: opacity(60%);
        margin-bottom: 10px;
    }
}